.advantages {
    overflow: hidden;

    &__title {
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: -0.025em;
        margin-bottom: 15px;
        position: relative;
        background-color: $color-white;
        overflow-wrap: anywhere;


        &::after {
            @include vp-1024 {
                content: "";
                position: absolute;
                width: 100vw;
                height: 2px;
                background-color: $color-royal-blue-1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -4px);
                z-index: -1;
            }
        }

        @include vp-768 {
            font-size: 28px;
            margin-bottom: 14px;
            letter-spacing: -0.02em;
        }

        @include vp-1024 {
            font-size: 40px;
            line-height: 46px;
            letter-spacing: -0.04em;
            text-align: center;
            margin: 0 auto 18px;
            max-width: 736px;
            padding: 0 40px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 22px;
        margin: 0 0 30px;
        color: $color-storm-grey-1;
        overflow-wrap: anywhere;

        @include vp-768 {
            margin: 0 0 32px;
        }

        @include vp-1024 {
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            margin: 0 0 58px;
        }

        @include vp-1304 {
            margin: 0 0 78px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
        list-style: none;
        padding: 0;
        margin-bottom: 60px;

        @include vp-768 {
            grid-template-columns: repeat(3, 1fr);
            gap: 13px;
            margin-bottom: 77px;
        }

        @include vp-1024 {
            gap: 60px 25px;
            margin-bottom: 105px;
        }

        @include vp-1304 {
            margin-bottom: 125px;
        }
    }

    &__item {
        display: grid;
    }
}