.advantages-card {
    padding: 20px;
    background: $color-solitude-1;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 200px;
    overflow-wrap: anywhere;

    @include vp-768 {
        padding: 24px;
        min-height: 280px;
    }

    @include vp-1024 {
        background: none;
        align-items: center;
        min-height: 244px;
        gap: 16px;
        padding: 0;
    }

    @include vp-1304 {
        min-height: 216px;
    }

    &__icon {
        @include vp-1024 {
            min-width: 64px;
            height: auto;
            background: $color-royal-blue-1;
            color: $color-white;
            border-radius: 12px;
            padding: 16px;
            margin-bottom: 4px;
        }

    }

    &__title {
        margin: 0;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;

        @include vp-768 {
            line-height: 25px;
        }

        @include vp-1024 {
            text-align: center;
            font-size: 24px;
            line-height: 28px;
        }
    }

    &__text {
        margin: 0;
        font-size: 14px;
        line-height: 18px;
        color: $color-storm-grey-3;

        @include vp-1024 {
            text-align: center;
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__tooltip {
        color: $color-royal-blue-1;

        &:hover, &:focus-visible {
            color: $color-free-speech-blue
        }
    }



    &__tooltip-text {
        font-size: 14px;
        line-height: 18px;
    }

}